In [1]:
import pandas as pd

In [50]:
df = pd.read_excel("Global Superstore.xls","Orders")

In [3]:
df.dtypes

Row ID                     int64
Order ID                  object
Order Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
City                      object
State                     object
Country                   object
Postal Code              float64
Market                    object
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
Shipping Cost            float64
Order Priority            object
dtype: object

In [4]:
df.shape

(51290, 24)

In [5]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

# average sales of category Furniture

In [6]:
df[df["Category"]=="Furniture"]["Sales"].mean()

416.24890505265296

# which Furniture, tecnology, office supplies is having maximum sales

In [7]:
category_sales = df.groupby('Category')['Sales'].sum()
max_sales_category = category_sales.idxmax()
max_sales_value = category_sales.max()
print(f"The category with the maximum sales is {max_sales_category} with total sales of ${max_sales_value}")

The category with the maximum sales is Technology with total sales of $4744557.49808

# which Furniture, tecnology, office supplies is having maximum Profit where discount is between 30% and 50%

In [8]:
filtered_df = df[(df['Discount'] >= 0.30) & (df['Discount'] <= 0.50)]
category_profit = filtered_df.groupby('Category')['Profit'].sum()
max_profit_category = category_profit.idxmax()
max_profit_value = category_profit.max()
print(f"The category with the maximum profit in the 30%-50% discount range is {max_profit_category} with a total profit of ${max_profit_value}")

The category with the maximum profit in the 30%-50% discount range is Office Supplies with a total profit of $-105373.20550000001

# which Furniture, tecnology, office supplies is having maximum sales where discount is between 30% and 50%

In [9]:
filtered_df = df[(df['Discount'] >= 0.30) & (df['Discount'] <= 0.50)]
category_sales = filtered_df.groupby('Category')['Sales'].sum()
max_sales_value = category_sales.max()
max_sales_category = category_sales.idxmax()
print(f"The category with the maximum sales in the 30%-50% discount range is {max_sales_category} with a total sales of ${max_sales_value}")

The category with the maximum sales in the 30%-50% discount range is Furniture with a total sales of $624517.6363

# which Furniture, tecnology, office supplies is having maximum Profit

In [10]:
category_profit = df.groupby('Category')['Profit'].sum()
max_profit_category = category_profit.idxmax()
max_profit_value = category_profit.max()
print(f"The category with the maximum profit is {max_profit_category} with total profit of ${max_profit_value}")

The category with the maximum profit is Technology with total profit of $663778.73318

# which Furniture, tecnology, office supplies is having minimum Profit where discount is > 70%

In [11]:
filtered_df = df[(df['Discount'] >= 0.70)] 
category_profit = filtered_df.groupby('Category')['Profit'].sum()
min_profit_category = category_profit.idxmin()
min_profit_value = category_profit.min()
print(f"The category with the minimum profit in the 30%-50% discount range is {min_profit_category} with a total profit of ${min_profit_value}")

The category with the minimum profit in the 30%-50% discount range is Office Supplies with a total profit of $-86286.8426

# which state in US is having maximum sales

In [51]:
filtered_df = df[df['Country'] == 'United States']
category_sales = filtered_df.groupby('State')['Sales'].sum()
max_sales_category = category_sales.idxmax()
max_sales_value = category_sales.max()
print(f"The category with the maximum sales is {max_sales_category} with a total sales of ${max_sales_value}")

The category with the maximum sales is California with a total sales of $457687.6315

# which state is US having minimum shipping cost

In [48]:
filtered_df = df[df['Country'] == 'United States']
category_shipping = filtered_df.groupby('State')['Shipping Cost'].sum()
min_shipping_category = category_shipping.idxmin()
min_shipping_value = category_shipping.min()
print(f"The category with the minimum shipping is {min_shipping_category} with a total shippin of ${min_shipping_value}")

The category with the minimum shipping is West Virginia with a total shippin of $97.49

In [39]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,2012-07-31,2012-07-31,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2013-02-05,2013-02-07,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,2013-10-17,2013-10-18,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,2013-01-28,2013-01-30,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,2013-11-05,2013-11-06,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [41]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,51290.00000,51290,51290,9994.000000,51290.000000,51290.000000,51290.000000,51290.000000,51290.000000
mean,25645.50000,2013-05-11 21:26:49.155781120,2013-05-15 20:42:42.745174528,55190.379428,246.490581,3.476545,0.142908,28.610982,26.375818
min,1.00000,2011-01-01 00:00:00,2011-01-03 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.002000
25%,12823.25000,2012-06-19 00:00:00,2012-06-23 00:00:00,23223.000000,30.758625,2.000000,0.000000,0.000000,2.610000
50%,25645.50000,2013-07-08 00:00:00,2013-07-12 00:00:00,56430.500000,85.053000,3.000000,0.000000,9.240000,7.790000
75%,38467.75000,2014-05-22 00:00:00,2014-05-26 00:00:00,90008.000000,251.053200,5.000000,0.200000,36.810000,24.450000
max,51290.00000,2014-12-31 00:00:00,2015-01-07 00:00:00,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000
std,14806.29199,NaN,NaN,32063.693350,487.565361,2.278766,0.212280,174.340972,57.296810

In [38]:
df["Category"].unique()

array(['Technology', 'Furniture', 'Office Supplies'], dtype=object)

In [40]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2014-62366,2014-06-19,2014-06-19,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,2014-06-20,2014-06-24,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,2013-12-02,2013-12-02,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2012-02-18,2012-02-22,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,São Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,2012-05-22,2012-05-26,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [46]:
df["Country"]

0        United States
1            Australia
2            Australia
3              Germany
4              Senegal
             ...
51285            Japan
51286    United States
51287    United States
51288           Brazil
51289        Nicaragua
Name: Country, Length: 51290, dtype: object

In [54]:
df_num=df.select_dtypes(include=[np.number])

In [53]:
import numpy as np

In [55]:
df_num.columns

Index(['Row ID', 'Postal Code', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping Cost'],
      dtype='object')

In [56]:
df_num.drop(["Row ID"],axis=1,inplace=True)

In [57]:
df_num.drop(["Postal Code"],axis=1,inplace=True)

In [58]:
df_num.columns

Index(['Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [60]:
df_num.corr()['Profit']

Sales            0.484918
Quantity         0.104365
Discount        -0.316490
Profit           1.000000
Shipping Cost    0.354441
Name: Profit, dtype: float64